.container {
    display: flex;
}

#btn {
    width: 100px;
    height: 100px;
    border: 2px solid red;
    text-align: center;
    margin: 3px;
    cursor: pointer;
}

.greenBtn {
    background-color: green;
    color: white;
}

.yellowBtn {
    background-color: yellow;
}

.blueBtn {
    background-color: blue;
    color: white;
}

.redBtn {
    background-color: red;
    color: white;
}